  <tr>
    <td><%= weektime.user_id %></td>
    <td><%= weektime.dateweek.cweek %>|<%= weektime.dateweek.to_fs(:date) %></td>
    <td><%= weektime.worktimes.size %></td>
    <td><%= weektime.alltime %></td>
    <td><%= weektime.accord %></td>
    <td><%= link_to "Show", weektime %></td>
  </tr>
      
