  <tr>
    <td class="text-center"><%= weektime.user_id %></td>
    <td class="text-center"><%= weektime.dateweek.cweek %> | <%= weektime.dateweek.strftime("%Y-%m") %></td>
    <td class="text-center"><%= weektime.worktimes.size %></td>
    <td class="text-center"><%= weektime.weekhour %></td>
    <td class="text-center"><%= weektime.accord %></td>
    <td class="text-center"><%= link_to "Show", weektime %></td>
  </tr>
      
