<h1>Editing weektime</h1>

<%= simple_form_for(@weektime) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs container">
    <%= f.association :user %>
    <%= f.input :dateweek %>
    <%= f.input :alltime %>
     Accord : <%= f.check_box :accord %>
    </div>

  <div class="form-actions container">
    <%= f.button :submit %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Show this weektime", @weektime %> |
  <%= link_to "Back to weektimes", weektimes_path %>
</div>
