 </br>
<div class="border p-3 mb-0 container">
  <h2 class="text-center" > <strong> Semaine : </strong><%= @weektime.dateweek.cweek %> | <strong> Date : </strong><%= @weektime.dateweek.strftime("%Y-%m")    %></h2>
  <hr>
  <div class="container">
       <table class="table table-sm">
        <thead class="thead-light">
          <tr>
            <th><strong>#</strong></th>
            <th><strong>debut</strong></th>
            <th><strong>fin</strong></th>
            <th><strong>H/Total </strong></th>
            <th><strong>Validation</strong></th>
          </tr>
        </thead>
    <%if @worktime.empty? %> 
            <tr>
              <td> </td>
              <td> </td>
              <td> </td>
              <td> </td>
            </tr>
    <% else %>   
      <tbody>   
          <% @worktime.each do |work| %>
            <tr>
              <td> # </td>
              <td><%= work.gotime.to_fs(:time) %></td>
              <td><%= work.endtime.to_fs(:time) %></td> 
              <td><%= Time.at(work.accord).utc.strftime("%HH %Mmin") %></td>
            </tr>
          <% end %>
      </tbody>
    <%end%>  
        <thead class="thead-light">
          <tr>
            <th> </th>
            <th> </th>
            <th> </th>
            <th><%= Time.at(@weektime.alltime).utc.strftime("%HH %Mmin") %> </th>
            <th>valider: <%= @weektime.accord %></th>
          </tr>
        </thead>
      </table>
  </div>
  <hr>
  <div class="container ">
    <div class="text-center">
      <%= button_to "new worktime", new_weektime_worktime_path(@weektime), method: :get %>
    </div>

    <div class="">
      <%= button_to "Modifier", edit_weektime_path(@weektime), method: :get %> </br>
      <%= button_to "Supprimer", @weektime, method: :delete, form: { data: { 'turbo-confirm': 'Vous etes sur ?' } }  %>
    </div>
  </div>
</div>

</br>
<div class="container">
<%= button_to "Dashbord", root_path, method: :get %>
</div>
