</br>
<h2 class="text-center">Log in</h2>
<div class="border p-3 mb-0 container">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="wrapper">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  placeholder: "ton.nom@hee.mc"  %>
      <%= f.input :password,
                  required: false,
                  placeholder:  "current-password" %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
     
    </div>
   
    <div class="text-center">
      <%= f.button :submit, "Log in", data: {turbo: false} %>
    </div>

<% end %>

<%= render "devise/shared/links"%>
</div>